*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.corpo{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

header{
    position: fixed;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw 0.5vw;
    background-color:rgba(255, 253, 252, 0.6); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo{
    width: 5vw;
    height: 5vw;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3vw;
    font-size: 1.3vw;
}

header li{
    padding: 0.5vw 1vw;
    border-radius: 2vw;
}

header ul :hover{
    color: orangered;
    background-color: #f2f2f2;
}

header a{
    text-decoration: none;
    color: black;
}

header button{
    display: flex;
    gap: 0.5vw;
    align-items: center;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    border-style: none;
    background-color: #119af7;
    color: #000000;
    font-size: 1.2vw;
}